.title-header {
  font-size: 36px;
  font-weight: bold;
}

.weather-card {
  color: white;
}

.current-temp-label {
  font-size: 28pt;
  font-weight: bold;
}

.current-apparent-temp-label {
  font-size: 14pt;
}

/* ------------------------------------------
   WEATHER DYNAMIC BACKGROUNDS (day & night)
   Prefix: .bg-weather-
   Taken from https://github.com/amit9838/mousam
------------------------------------------ */
.bg-weather-clear-sky {
  background-color: hsla(205, 60%, 35%, 1);
  background-image: radial-gradient(at 100% 5%, hsla(215, 43%, 77%, 0.51) 0px, transparent 50%),
    radial-gradient(at 43% 38%, hsla(206, 47%, 45%, 0.87) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(24, 1%, 83%, 0.69) 0px, transparent 50%),
    radial-gradient(at 43% 99%, hsla(214, 71%, 36%, 0.88) 0px, transparent 50%);
}

.bg-weather-few-clouds {
  background-color: hsla(210, 51%, 40%, 1);
  background-image: radial-gradient(at 46% 22%, hsla(201, 54%, 45%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(180, 17%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 28% 88%, hsla(0, 0%, 74%, 0.59) 0px, transparent 50%),
    radial-gradient(at 86% 78%, hsla(200, 19%, 59%, 1) 0px, transparent 50%);
}

.bg-weather-overcast,
.bg-weather-showers-scattered {
  background-color: hsla(210, 48%, 33%, 1);
  background-image: radial-gradient(at 72% 40%, hsla(216, 16%, 24%, 0.41) 0px, transparent 50%),
    radial-gradient(at 49% 30%, hsla(201, 51%, 43%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(195, 45%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 78%, hsla(195, 14%, 46%, 1) 0px, transparent 50%);
}

.bg-weather-showers-large {
  background-color: hsla(205, 26%, 38%, 1);
  background-image: radial-gradient(at 3% 0%, hsla(240, 18%, 15%, 0.69) 0px, transparent 50%),
    radial-gradient(at 85% 68%, hsla(210, 34%, 20%, 0.96) 0px, transparent 50%),
    radial-gradient(at 89% 11%, hsla(213, 14%, 4%, 0.56) 0px, transparent 50%),
    radial-gradient(at 66% 100%, hsla(206, 42%, 14%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 73%, hsla(214, 33%, 25%, 1) 0px, transparent 50%),
    radial-gradient(at 58% 0%, hsla(209, 95%, 82%, 0.75) 0px, transparent 50%),
    radial-gradient(at 55% 24%, hsla(195, 0%, 0%, 0.94) 0px, transparent 50%);
}

.bg-weather-storm {
  background-color: hsla(211, 21%, 35%, 1);
  background-image: radial-gradient(at 43% 37%, hsla(205, 22%, 9%, 0.76) 0px, transparent 50%),
    radial-gradient(at 38% 77%, hsla(203, 32%, 12%, 0.73) 0px, transparent 50%),
    radial-gradient(at 98% 88%, hsla(217, 15%, 9%, 0.9) 0px, transparent 50%),
    radial-gradient(at 67% 94%, hsla(217, 20%, 14%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 89%, hsla(17, 3%, 53%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 10%, hsla(189, 14%, 12%, 0.92) 0px, transparent 50%),
    radial-gradient(at 17% 4%, hsla(212, 19%, 14%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 0%, hsla(213, 100%, 81%, 0.72) 0px, transparent 50%);
}

.bg-weather-snow {
  background: linear-gradient(171deg, rgba(32, 79, 156, 1) 11%, rgba(44, 91, 145, 1) 33%, rgba(105, 133, 154, 1) 63%, rgba(213, 215, 217, 1) 97%);
}

.bg-weather-fog {
  background: linear-gradient(0deg, rgba(53, 60, 59, 1) 3%, rgba(86, 92, 93, 1) 40%, rgba(138, 142, 153, 1) 73%, rgba(197, 202, 210, 1) 100%);
}

.bg-weather-clear-sky-night {
  background-color: hsla(235, 86%, 11%, 1);
  background-image: radial-gradient(at 0% 100%, hsla(32, 17%, 55%, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(221, 14%, 33%, 0.83) 0px, transparent 50%),
    radial-gradient(at 82% 78%, hsla(217, 83%, 14%, 0.58) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(240, 92%, 10%, 1) 0px, transparent 50%);
}

.bg-weather-few-clouds-night {
  background-color: hsla(216, 26%, 22%, 1);
  background-image: radial-gradient(at 100% 0%, hsla(221, 56%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(223, 37%, 15%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 3%, hsla(223, 35%, 17%, 1) 0px, transparent 50%);
}

.bg-weather-overcast-night,
.bg-weather-showers-scattered-night {
  background-color: hsla(240, 13%, 28%, 1);
  background-image: radial-gradient(at 100% 99%, hsla(240, 21%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 0%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(240, 19%, 9%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(240, 16%, 19%, 1) 0px, transparent 50%),
    radial-gradient(at 38% 0%, hsla(288, 13%, 80%, 0.21) 0px, transparent 50%);
}

.bg-weather-showers-large-night {
  background-color: hsla(206, 27%, 15%, 1);
  background-image: radial-gradient(at 100% 0%, hsla(217, 17%, 7%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(203, 41%, 17%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 3%, hsla(222, 33%, 9%, 1) 0px, transparent 50%);
}

.bg-weather-storm-night {
  background-color: hsla(245, 14%, 14%, 1);
  background-image: radial-gradient(at 100% 100%, hsla(175, 16%, 7%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(240, 21%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 56% 0%, hsla(217, 12%, 31%, 0.81) 0px, transparent 50%),
    radial-gradient(at 24% 0%, hsla(215, 9%, 5%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 99%, hsla(40, 15%, 54%, 0.48) 0px, transparent 50%);
}

.bg-weather-snow-night {
  background: linear-gradient(180deg, rgba(20, 29, 52, 1) 0%, rgba(28, 44, 64, 1) 26%, rgba(28, 45, 73, 1) 52%, rgba(63, 66, 89, 1) 78%, rgba(96, 96, 96, 1) 100%);
}

.bg-weather-fog-night {
  background: linear-gradient(127deg, rgba(28, 27, 38, 1), rgba(50, 50, 50, 0) 100%),
    linear-gradient(217deg, rgba(50, 50, 50, 1), rgba(28, 27, 38, 1) 100%);
}